<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:axon="http://www.axonframework.org/schema/core"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
          http://www.axonframework.org/schema/core http://www.axonframework.org/schema/axon-core.xsd">

    <!-- Axon things -->
    <axon:annotation-config/>
    <axon:event-bus id="eventBus" register-mbeans="false"/>
    <axon:command-bus id="commandBus" register-mbeans="false"/>

    <axon:event-sourcing-repository id="projectRepository" aggregate-type="nl.gridshore.companyhr.app.project.Project">
        <axon:snapshotter-trigger event-count-threshold="5" snapshotter-ref="snapshotter"/>
    </axon:event-sourcing-repository>

    <axon:event-sourcing-repository id="userRepository" aggregate-type="nl.gridshore.companyhr.app.user.User">
        <axon:snapshotter-trigger event-count-threshold="5" snapshotter-ref="snapshotter"/>
    </axon:event-sourcing-repository>

    <bean id="eventStore" class="org.axonframework.eventstore.gae.GaeEventStore">
        <constructor-arg index="0" ref="xStreamEventSerializer"/>
    </bean>

    <bean name="xStreamEventSerializer" class="org.axonframework.eventstore.XStreamEventSerializer">
        <constructor-arg index="0" type="com.thoughtworks.xstream.XStream" ref="xStream"/>
    </bean>

    <bean id="xStream" class="org.axonframework.serializer.gae.XStreamFactory"/>

    <bean id="snapshotter" class="org.axonframework.eventstore.gae.GaeSnapshotter"/>

    <!-- Objectify -->
    <bean id="objectifyFactoryFactory" class="nl.gridshore.companyhr.query.ObjectifyFactoryFactory">
        <property name="registeredClasses">
            <list>
                <value>nl.gridshore.companyhr.query.ProjectEntry</value>
                <value>nl.gridshore.companyhr.query.user.UserEntry</value>
            </list>
        </property>
    </bean>
</beans>